{% extends "layout.jinja2" %} {% block content %}
<div class="container-fluid bg-1 text-center">
    <div class="row">
        <div class="col-lg-4">
            <img src="https://avatars1.githubusercontent.com/u/21001843?v=3&u=d86c7c001dc61648ab4dcc7a28163e319ed176fb&s=400" class="img-fluid img-thumbnail" style="display:inline" width="350" height="350">
        </div>
        <div class="col-lg-4">
            <h3 class="text-center">Who Am I?</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pellentesque dui sed tellus mattis eleifend. Nulla commodo feugiat nisi non vehicula. Nam ex elit, varius vel feugiat eu, egestas ut tortor. Suspendisse vitae egestas arcu. Cras eleifend imperdiet faucibus. Praesent imperdiet viverra arcu id rhoncus. Nunc non accumsan massa. Etiam ullamcorper efficitur viverra. Sed a erat dui. Morbi at pulvinar erat. Aenean lobortis, arcu eu iaculis pretium, felis elit tempor lorem, nec volutpat ex ipsum fermentum urna. Phasellus sed massa eu purus condimentum imperdiet eget eget ante. Nunc venenatis ex eget nisi blandit volutpat. Nam id risus non ante euismod commodo.</p>
        </div>
        <div class="col-lg-4">
            <h4 class="text-center">LOOK WHAT I CAN DO</h4>
            <ul class="list-group text-left">
                <li class="list-group-item">Web Design</li>
                <li class="list-group-item">HTML</li>
                <li class="list-group-item">CSS</li>
                <li class="list-group-item">Javascript</li>
                <li class="list-group-item">jQuery</li>
                <li class="list-group-item">Python</li>
                <li class="list-group-item">Django Framework</li>
                <li class="list-group-item">Pyramid Framework</li>
            </ul>
        </div>
    </div>
</div>
<div class="container-fluid bg-3 text-center">
    <h3 class="margin">Awesome Projects</h3>
    <div class="row">
        <div class="col-lg-4">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="col-lg-4">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="col-lg-4">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
    </div>
</div>
{% endblock content %}