<!doctype html>
<html lang="en">

<head>
    <title>{% block title %}Amos Boldor - Portfolio{% endblock title %}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link href="{{request.static_url('portfolio:static/theme.css')}}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{request.static_url('portfolio:static/font/css/open-iconic-bootstrap.min.css')}}"> {% block head %} {% endblock head %}
</head>

<body>
    <nav class="navbar navbar-dark bg-primary sticky-top navbar-expand-lg">
        <a class="navbar-brand" href="/"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fb/718smiley.svg/500px-718smiley.svg.png" width="30" height="30" class="d-inline-block align-top"> Amos Boldor</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon" style="color:white;"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <div class="form-inline my-2 my-lg-0">
                <button type="button" class="btn btn-secondary btn-success align-middle" data-toggle="modal" data-target="#hireMe">Hire Me</button>
            </div>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ request.route_url('projects') }}">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ request.route_url('posts') }}">Blog</a>
                </li>
            </ul>
            {% if request.authenticated_userid %}
            <span class="navbar-text">
                <a style="text-decoration: none;" href="{{ request.route_url('logout') }}">
                    <span class="oi oi-account-logout"></span>
            <span> Logout - {{ request.authenticated_userid }}</span>
            </a>
            </span>
            {% elif request.authenticated_userid or request.current_route_url() != request.route_url('login') %}
            <span class="navbar-text">
                <a style="text-decoration: none;" href="{{ request.route_url('login') }}">
                    <span class="oi oi-account-login"></span>
            <span> Login</span>
            </a>
            </span>
            {% endif %}
    </nav>
    <br> {% block content %} {% endblock content %}
    <br>
    <footer class="footer">
        <div class="container text-center">
            <span class="text-muted">Overkill Is Underrated.</span>
        </div>
    </footer>

    <!-- Modal -->
    <div class="modal fade" id="hireMe" tabindex="-1" role="dialog" aria-labelledby="hireMeLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="hireMeLabel">Hire Me</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <h4><label for="email">From:</label></h3>
                            <input type="email" class="form-control" id="email" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <h4><label for="subject">Title:</label></h3>
                            <input type="text" id="subject" class="form-control" name="subject" id="title" placeholder="Title">
                        </div>
                        <div class="form-group">
                            <h4>
                                <label for="Message">Message:</label>
                                <button type="button" class="btn btn-secondary btn-sm" id="markdown">Use Markdown</button>
                                <button type="button" class="btn btn-secondary btn-sm" id="dropmarkdown" style="display: none;">Turn Off Markdown</button>
                            </h3>
                            
                            <textarea required class="form-control" rows="5" id="Message" type="text" name="body" placeholder="Message"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" data-dismiss="modal">Send</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script>
        $('nav a[href="{{ request.current_route_url() }}"]').parent().addClass('active');
    </script>
    {% if not request.authenticated_userid %}
    <script>
    var simplemde;

    function turnOffMarkdown(simplemde) {
        simplemde.toTextArea();
        simplemde = null;
    };
    $(document).ready(function() {
        $.extend({
            loadCssAndJs: function(type, url, callback, nocache) {
                if (typeof nocache == 'undefined') nocache = false; // default don't refresh
                if (type === "css") {
                    var tag = '<link>'
                    var data = { rel: 'stylesheet', type: 'text/css', 'href': url }
                } else if (type === 'js') {
                    var tag = '<script>'
                    var data = { 'src': url, 'type': "text/javascript" }
                }
                $.when(
                    $(tag, data).appendTo('head')
                ).then(function() {
                    if (typeof callback == 'function') callback();
                });
            }
        });

        var adderss = 'https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.'
        $('#markdown').on('click', function() {
            var css = $('link[' + "href$=" + '"' + adderss + 'css' + '"' + ']').length
            var js = $('script[' + "src$=" + '"' + adderss + 'js' + '"' + ']').length
            if (css && js) {
                simplemde = new SimpleMDE({ element: $('textarea')[0] });
                simplemde.value($('textarea').val());
                $('#markdown').hide()
                $('#dropmarkdown').show()
            } else {
                $.loadCssAndJs('css', adderss + 'css')
                $.loadCssAndJs('js', adderss + 'js')
                var myVar = setInterval(function() {
                    if (typeof SimpleMDE !== "undefined") {
                        simplemde = new SimpleMDE();
                        simplemde.value($('textarea').val());
                        clearInterval(myVar);
                        $('#markdown').hide()
                        $('#dropmarkdown').show()
                    }
                }, 100);
            }
        });

        function sendData(data) {
            $.ajax({
                type: 'POST',
                url: "{{ request.route_url('email') }}",
                data: data,
                success: function() {
                    console.log("Sent and emailed: ", data);
                    $('.modal').modal("hide");
                    $("#email").val('')
                    $("#subject").val('')
                    if (typeof SimpleMDE !== "undefined") {
                        simplemde.value('');
                    } else {
                        $('textarea').val('')
                    }
                }
            });
        };
        $('#dropmarkdown').on('click', function() {
            turnOffMarkdown(simplemde);
            $('#dropmarkdown').hide()
            $('#markdown').show()
        });
        $("#submit").on('click', function() {
            var data = { "email": $("#email").val(), "subject": $("#subject").val() }
            if (typeof SimpleMDE !== "undefined") {
                data["body"] = simplemde.value();
            } else {
                data["body"] = $('textarea').val()
            }
            sendData(data)
        });
    });
    </script>
    {% endif %} {% block script %} {% endblock script %}
</body>

</html>