{% extends "layout.jinja2" %}

{% block content %}
<div class="container font-Baloo-Bhaina">
    <h1>=)</h1>
    <p class="lead"><span style="color:red;">404</span> Page Not Found</p>
</div>
{% endblock content %}
