{% extends "layout.jinja2" %}

{% block content %}

<div class="container-fluid bg-1 text-center">
  <h3 class="margin">Who Am I?</h3>
  <img src="https://avatars1.githubusercontent.com/u/21001843?v=3&u=d86c7c001dc61648ab4dcc7a28163e319ed176fb&s=400" class="img-responsive img-circle margin" style="display:inline" alt="Bird" width="350" height="350">
  <h3>I'm an developer</h3>
</div>

<div class="container-fluid bg-2 text-center">
    <h3 class="margin">A little about me</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pellentesque dui sed tellus mattis eleifend. Nulla commodo feugiat nisi non vehicula. Nam ex elit, varius vel feugiat eu, egestas ut tortor. Suspendisse vitae egestas arcu. Cras eleifend imperdiet faucibus. Praesent imperdiet viverra arcu id rhoncus. Nunc non accumsan massa. Etiam ullamcorper efficitur viverra. Sed a erat dui. Morbi at pulvinar erat. Aenean lobortis, arcu eu iaculis pretium, felis elit tempor lorem, nec volutpat ex ipsum fermentum urna. Phasellus sed massa eu purus condimentum imperdiet eget eget ante. Nunc venenatis ex eget nisi blandit volutpat. Nam id risus non ante euismod commodo.</p>

    <p>Phasellus sagittis lorem sed nulla pellentesque, quis lacinia ante lacinia. Nullam venenatis nulla a turpis lacinia interdum. Etiam quis ornare orci. Vivamus eget sagittis ante. Vivamus eleifend dui tortor, at faucibus dui accumsan in. Nullam tincidunt volutpat pharetra. Cras ornare nisi vel felis egestas, sit amet tincidunt felis dignissim. Integer sed gravida libero, non euismod dolor.</p>

    <p>Curabitur tempus congue ipsum non feugiat. Integer luctus ex dolor, vitae aliquam diam cursus sit amet. Maecenas et convallis arcu, nec vehicula ligula. Fusce volutpat sem tellus, nec aliquet quam posuere non. Sed ligula magna, aliquet ut ullamcorper et, sodales quis diam. Nulla facilisi. Ut lorem risus, imperdiet nec porttitor elementum, placerat quis felis. Donec ultrices pulvinar mollis. Suspendisse lobortis vulputate bibendum. Mauris quis pharetra tortor, quis tincidunt magna. Vestibulum in tellus mi. Pellentesque non eleifend erat. Integer cursus luctus lectus, in auctor arcu hendrerit ac. Integer consectetur finibus tellus. Maecenas et turpis nec tortor venenatis porttitor.</p>
</div>

<div class="container-fluid bg-3 text-center">    
  <h3 class="margin">Awesome Projects?</h3><br>
  <div class="row">
    <div class="col-sm-4">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="col-sm-4"> 
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="col-sm-4"> 
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
</div>
{% endblock content %}
