{% extends "layout.jinja2" %}

{% block head %}
<link href="{{request.static_url('portfolio:static/monokai.css')}}" rel="stylesheet">
{% if request.authenticated_userid %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
{% endif %}
{% endblock head %}

{% block content %}
<main class="container">
    {% if request.authenticated_userid %}
    <br>
    <div id="add">
        <button type="button" class="btn btn-primary btn-block">Add</button>
        <br>
    </div>
    <div class="form-group" id="form" style="display: none;">
        <form>
            <label for="Title">Title:</label>
            <input required class="form-control" rows="5" id="Title" type="text" name="title"></input>
            <br>
            <label for="Entry">Entry:</label>
            <textarea required class="form-control" rows="5" id="Entry" type="text" name="body"><summary></summary></textarea>
            <br>
            <button type="button" id="submit" class="btn btn-primary">Submit</button>
            <button type="button" id="cancel" class="btn btn-default">Cancel</button>
        </form>
    </div>
    {% endif %}
    <div id="entries">
      {% for post in posts %}
        <div class="panel panel-primary">
          <div class="panel-heading">
              <h2><a style="color: #2c3e50;" href="{{ request.route_url('detail', id=post.id) }}">{{ post.title }}</a></h2>
              Created: {{ post.date}}
          </div>
          <div class="panel-body">{{ post.summary|safe }}</div>
        </div>
      {% endfor %}
    </div>
</main>
{% endblock %}

{% block script %}
{% if request.authenticated_userid %}
<script type="text/javascript">
$(document).ready(function(){
    var url_window = window.location.href
    var d = new Date();

    var month = d.getMonth()+1;
    var day = d.getDate();
    var simplemde = new SimpleMDE();

    $('#cancel').on('click', function(){
        $('#form').slideUp()
        $('#add').slideDown()
        window.scroll(0,0)
    });

    $('#add').on('click', function(){
        $('#form').slideDown()
        $('#add').slideUp()
        window.scroll(0,0)
    })

    function genPost(url, title, date, summary) {
        return '<div class="panel panel-primary"><div class="panel-heading"><h2><a style="color: #2c3e50;" href="' + url + '">' + title + '</a></h2>Created: ' + date + '</div><div class="panel-body">' + summary + '</div></div>'
    }

    var dateObj = new Date();
    var month = dateObj.getUTCMonth() + 1;
    var day = dateObj.getUTCDate();
    var year = dateObj.getUTCFullYear();

    var csrfToken = "{{request.session.get_csrf_token()}}";
    var submit = $("#submit");
    submit.on("click", function(){
        // send ajax request add entry
        if ($('#Title').val() == '' || simplemde.value() == '') {
            alert('Both the Title field and the textarea field need to be filled!')
        } else {
            $.ajax({
            type: 'POST',
            headers: { 'X-CSRF-Token': csrfToken },
            url: 'blog/create',
            data: {"title": $('#Title').val(), "body": simplemde.value()},
            success: function(resp){
                    console.log(simplemde.value())
                    var full_url = url_window + '/' + resp.id;
                    var title = $('#Title').val();
                    var todaysDate = year + "-" + month + "-" + day;
                    var summary = $(simplemde.value()).html()

                    $("#entries").append(genPost(full_url, title, todaysDate, summary));

                    $('#Title').val('')
                    simplemde.value('<summary></summary>')
                }
            });
        }
    });
});
</script>
{% endif %}
{% endblock %}
